body{
	margin: 0px;
	padding: 0px;
	font:15px/22.5px "wf_SegoeUI","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    background-color: #f0efe7;
    color: rgb(105,97,97);
}
#mainContainer
{
	width: 958px;
	margin:0 auto;
	background: #fff;
	border: 1px solid #B6B4B4;
	height: 600px;
	position: relative;
}
h1
{
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin-right: 0.67em 0;
}
#parent
{
	background: rgb(0,173,240);
	height: 310px;
	color: #fff;
}
h2
{
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.83em 0;
}
#purple
{
	background: rgb(114,10,196);
}
#red
{
	background: red;
}
.inlineBlock
{
	display: inline-block;
	border: 1px solid rgba(128,128,128,0.41);
	padding: 10px;
	margin-top: 20px;
}
.box
{
	width: 140px;
	height: 200px;
	text-align: center;
	color: #fff;
}
p
{
	margin-top: 1em;
	margin-bottom: 1em;
}
#purpleBoxControls
{
	width: 220px;
	margin-top: 10px;
	height: 145px;
	display: inline;
	border: 1px solid rgb(199,198,198);
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	float: left;
}
h3
{
	font-size: 1.125em;
	font-weight: bold;
	margin: 1em 0;
}
button
{
	height: 33px;
	color: #fff;
	background-color: rgb(0,92,255);
	font-size: 16px;
	border: none;
}
#redBoxControls
{
	width: 220px;
	height: 145px;
	border: 1px solid rgb(199,198,198);
	text-align: center;
	margin-top: 10px;
	float: left;
}