body{
	width: auto;
	height: auto;
	padding: 0px;
	background: rgb(252,252,252);
	color: #4d4d4d;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
#main
{
	width: 960px;
	margin: 0 auto;
	position: relative;
	height: 400px;
}
#logo
{
	background: url(image/todo.png) no-repeat;
	width: 100px;
	height: 65px;
	background-position: 1px -112px;
	position: absolute;
	left: 212px;
	top:-12px;
}
.appName
{
	color: #333;
	text-align: center;
    margin-top: 30px;
    font-size: 42px;
    padding-left: 96px;
}
#toDoList
{
	position: relative;
	width: 600px;
	background: #fff;
	margin:50 auto;
	box-shadow: 0 5px 3px 0 rgba(0,0,0,0.33);
}
#toDoList:before
{
	content: '';
	border-left: 1px solid #f5d6d6;
	border-right: 1px solid #f5d6d6;
	width: 2px;
	position: absolute;
	left: 50px;
	height: 100%;
	top: 0px;
	z-index: 5;
}
#userInput:before
{
	content: '';
	width: 600px;
	position: absolute;
	height: 25px;
	background-color:#3498DB;
	z-index: 7;
}
#userInput
{
	height: 92px;
	position: relative;
}
#newitem
{
	width: 95%;
	margin-top: 26px;
	font-size: 26px;
	padding-top: 21px;
	font-size: 26px;
	padding-left: 78px;
	border: none;
	outline: none;
	background: rgba(252,252,252,0);
}
.toggleall
{
	background: url(image/todo.png) no-repeat;
	width: 35px;
	height: 35px;
	background-position: -21px -185px;
	position: absolute;
	top: 45px;
	left: 15px;
}
.toggleall:hover
{
	cursor: pointer;
}
#itemContainer
{

	position: relative;
	background: rgba(253,253,253,1);
	max-height: 300px;
	overflow: auto;
}
#lists
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#lists li
{
	border-top: 2px solid rgba(202,200,200,.8);
	padding-left: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(240,240,240,1);
	position: relative;
	height: 66px;
}
.show{
	width: 35px;
	height: 35px;
	position: absolute;
	background: url(image/todo.png);
	background-position: -17px -58px;
	left: 8px;
	top: 26px;
}
.show:hover
{
	cursor: pointer;
}
p
{
	display: inline-block;
	margin-left: 60px;
	width: 477px;
	font-size: 20px;
}
.destroy:hover
{
	cursor: pointer;
}
.view button
{
	background: url(image/todo.png);
	border: none;
	width: 39px;
	opacity: .8;
	height: 37px;
	margin-top: 16px;
	display: inline-block;
	position: absolute;
	top: 9px;
	right: 14px;
	background-position: -16px -14px;
	border-radius: 55%;
}
#menu
{
	position: relative;
	margin: 0 auto;
	background: rgba(0,17,20,1);
	padding: 6px 10px;
	color: #333;
	z-index: 10;
	height: 24px;
	background-color: #ffffff;
	border-top: 2px solid rgb(202,200,200);
}
#menu button
{
	border: none;
	background-color: rgb(230,230,230);
	color: #333;
	border-radius: 1px;
	font-weight: bold;
	outline: none;
}
#menu button:hover
{
	cursor: pointer;
	color: #3498DB;
}
#clearCompleted
{
	float: right;
	margin-right: 10px;
}
#info
{
	border: 1px solid rgb(228,225,225);
	width: 499px;
	margin: 51px auto;
	padding: 10px;
	font-size: 15px;
}
.complete
{
	text-decoration: line-through;
	color: #E70909;
}