<!doctype.html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	 <div class="wrapper_start_animation">
	 	<div class="spectar">
	 		<span style="background-color:#864300;"></span>
	 		<span style="background-color:#ff6517;"></span>
	 		<span style="background-color:#c2ba00;"></span>
	 		<span style="background-color:#00c1d2;"></span>
	 		<span style="background-color:#ffaa19;"></span>
	 		<span style="background-color:#dd008a;"></span>
	 		<span style="background-color:#864300;"></span>
	 		<span style="background-color:#ff6517;"></span>
	 	</div>
	 	<header>
	 			<div class="container">
	 				<a href="" class="logo"></a>
	 				<div class="header_right">
	 				  <ul>
	 					<li><a href="" class="home">Home</a></li>
	 					<li><a href="">Portfolio</a></li>
	 					<li><a href="">Pages</a></li>
	 					<li><a href="">Blog</a></li>
	 				  </ul>
	 				  <div class="header_right_widget">
	 				  	<a href="">Take a Tour</a>
	 				  </div>
	 				</div>  
	 			</div>
	 	</header>
	 	<div id="social_icons_widget">
	 		<ul>
	 			<li class="twitter sprite"></li>
	 			<li class="facebook sprite"></li>
	 			<li class="pinterest sprite"></li>
	 			<li class="forest sprite"></li>
	 			<li class="youtube sprite"></li>
	 			<li class="dribble sprite"></li>
	 			<li class="vk sprite"></li>
	 			<li class="rss sprite"></li>
	 		</ul>
	 	</div>
	 	<div class="layerimg">
	 		<p>Make It Your Own!</p>
	 		<div class="left"></div>
	 		<a href="">Check It Out!</a>
	 		<div class="right"></div>
	    </div>
	    <div class="section">
	    	<div class="section1">
	    	  <div class="section_content">
	    		<div class="section_content1">
	    			<div class="column1">
	    				<div class="column_inner column"></div>
	    				<h5>Ready For Aweasome</h5>
	    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
	    			</div>
	    			<div class="column2">
	    				<div class="column_inner column"></div>
	    				<h5>Easy Web Building</h5>
	    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
	    			</div>
	    			<div class="column3">
	    				<div class="column_inner column"></div>
	    				<h5>Your Place on Internet</h5>
	                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
	    			</div>
	    			<div class="column4">
	    				<div class="column_inner column"></div>
	    				<h5>Explore Flat Theme</h5>
	    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
	    			</div>
	    		</div>
	    	  </div>	
	    	</div>
	    	<div class="section2">
	    		<div class="section_content2">
	    			<h2>Perfect Premium Template for showing your products</h2>
	    			<ul>
	    				<li><a href="" class="red">All</a></li>
	    				<li><a href="">Art</a></li>
	    				<li><a href="">Cartoon</a></li>
	    				<li><a href="">Design</a></li>
	    			</ul>
	    			<div class="project_holder">
	    				<div class="project_holder_column1">
	    					<div class="c1"></div>
	    					<span class="title music">Glenfiddich Music Festival
	    					</span>
	    					<p>Art</p>
	    					<span class="number">594</span>
	    				</div>
	    				<div class="project_holder_column2">
	    					<div class="c2"></div>
	    					<span class="title iceland">Iceland Sunshine</span>
	    					<p>Cartoon,Design</p>
	    					<span class="number">722</span>
	    				</div>
	    				<div class="project_holder_column3">
	    					<div class="c3"></div>
	    					<span class="title timescape">Iceland Timescape</span>
	    					<p>Art,Cartoon</p>
	    					<span class="number">580</span>
	    			    </div>
	    				<div class="project_holder_column4">
	    					<div class="c4"></div>
	    					<span class="title styles">Geometric Styles</span>
	    					<p>Design</p>
	    					<span class="number">394</span>
	    				</div>
	    			</div>
	    			<div class="loading">
	    				<span><a href="">Load More</a></span>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="section3">
	    		<div class="section_content3">
	    			<h2>Easy-To-Create-Parallax Sections</h2>
	    			<p>Lorem ipsum dolor sit amet, feugiat delicata liberseid cumis</p>
	    			<div class="parallaxColumn">
	    				<div class="parallaxColumn1"></div>
	    				<div class="parallaxColumn2"></div>
	    				<div class="parallaxColumn3"></div>
	    				<div class="parallaxColumn4"></div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="section4">
	    		<div class="section_content4">
	    			<h2>Perfect Premium Template for showing your products</h2>
	    			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
	    			<div class="four_column">
	    				<div class="four_column1">
	    					<span>Graphic design for web sites</span>
	    					<span>WordPress Themes</span>
	    					<span>SEO optimization for web sites</span>
	    					<span> Explore Flat theme</span>
	    				</div>
	    				<div class="four_column2">
	    					<span>Graphic design for web sites</span>
	    					<span>WordPress Themes</span>
	    					<span>SEO optimization for web sites</span>
	    					<span> Explore Flat theme</span>
	    				</div>
	    				<div class="four_column3">
	    					<div class="counter_holder">
	    						<span>8524</span>
	    						<h7>Lorem ipsum dolor</h7>
	    					</div>
	    				</div>
	    				<div class="four_column4">
	    					<div class="counter_holder">
	    						<span>1046</span>
	    						<h7>Lorem ipsum dolor</h7>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="more_counter_holder">
	    				<span><a href="">More Facts</a></span>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <footer>
	    	<div class="bx-wrapper">
	    		<ul>
	    			<li><img src="image/Coca.png"></li>
	    			<li><img src="image/Diesel.png"></li>
	    			<li><img src="image/Fedex.png"></li>
	    			<li><img src="image/Lego.png"></li>
	    		</ul>
	    	</div>
            <div class="spectar">
	 		  <span style="background-color:#864300;"></span>
	 		  <span style="background-color:#ff6517;"></span>
	 		  <span style="background-color:#c2ba00;"></span>
	 		  <span style="background-color:#00c1d2;"></span>
	 		  <span style="background-color:#ffaa19;"></span>
	 		  <span style="background-color:#dd008a;"></span>
	 		  <span style="background-color:#864300;"></span>
	 		  <span style="background-color:#ff6517;"></span>
	 	    </div>
	 	    <div class="footer_top_holder">
	 	      <div class="footer_column1">
	 	      	<div href="" class="logo"></div>
	 	      	<p>Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et iuser. Vel utroque utes ipsum dolor</p>
	 	      	<div class="social">
	 	      		<a class="soc1 sprite"href="/"></a>
	 	      		<a class="soc2 sprite"href="/"></a>
	 	      		<a class="soc3 sprite"href="/"></a>
	 	      		<a  class="soc4 sprite"href="/"></a>
	 	      	</div>
	 	      </div>
	 	      <div class="footer_column2">
	 	      	<h4>Rrcent Posts</h4>
	 	      	<span>Welcome to Cartoon Land</span>
	 	      	<span>Animation is Future</span>
	 	      	<span>Video Showcase</span>
	 	      	<span>Check it Out!</span>
	 	      	<span>What We Do</span>
	 	      </div>
	 	      <div class="footer_column3">
	 	      	<h4>Tags</h4>
	 	      	<a href="">Animation</a>
	 	      	<a href="">Audio</a>
	 	      	<a href="">Cartoon</a>
	 	      	<a href="">Gallery</a>
	 	      	<a href="">Modern</a>
	 	      	<a href="">Opportunities</a>
	 	      	<a href="">Philosophy</a>
	 	      	<a href="">Qode</a>
	 	      	<a href="">Themes</a>
	 	      	<a href="">Video</a>
	 	      </div>
	 	      <div class="footer_column4">
	 	      	<h4>Company History</h4>
	 	      	<p>Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea.</p>
	 	      </div>
	 	    </div>
	 	    <div class="footer_bottom">
	 	    	<p>&copy;Copyright Qode Interactive</p>
	 	    </div>
	    </footer>
	 </div>
	 
	
</body>
</html>
