body{
	width: auto;
	margin: auto;
	background: #f8f8f8;
	font-family: 'Noticia Text',serif;
	
}
.site
{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
nav
{
	width: 60em;
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	padding-top: 150px;
}
nav ul
{
	height: 70px;
	margin: 0px;
	padding: 0px;
}
nav ul li{
	list-style-type: none;
	float: left;
	width: 24.9%;
}
nav ul li a
{
	height: 100%;
	font-size: 26px;
	position: relative;
	line-height: 2.5em;
    font-weight: bold;
    padding: 0px 14px;
	text-align: center;
	color: #EDAE00;
	background: -webkit-linear-gradient(top,#777676 0%,#979393 45%,#7B7575 100%);
	display: block;
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	border-bottom: 7px solid#959393;
	text-decoration: none;
}
nav ul li:nth-child(odd) a:hover
{
	border-bottom-color: #6889FF;
}
nav ul li:nth-child(even) a:hover
{
    border-bottom-color:#FF91A0;
}
nav ul li:nth-child(odd) a:hover:before
{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 11.5px solid transparent;
	border-right: 11.5px solid transparent;
	border-bottom: 11.5px solid #6889FF;
	right: 45%;
	bottom: 0;
}

nav ul li:nth-child(even) a:hover:before
{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 11.5px solid transparent;
	border-right: 11.5px solid transparent;
	border-bottom: 11.5px solid #FF91A0;
	right: 45%;
	bottom: 0;
}
nav ul li a:hover
{
	color: #EEEFEF;
	text-shadow:inset 0 0 8px 0 red;
	-moz-transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
nav ul li.blog ul
{
	position: absolute;
	width: 25%;
	height: 204px;
	display: none;

}
nav ul li.blog ul li
{
	width: 240px;
	height: 51px;
	
}
nav ul li.blog ul li a
{
	text-align: center;
	font-size: 1.25em;
	padding-left: 0.75em;
}
nav ul li.work ul
{
	position: absolute;
	width: 25%;
	height: 154px;
	display: none;
}
nav ul li.work ul li
{
	width: 240px;
	height: 51px;
	
}
nav ul li.work ul li a
{
	font-size: 1.25em;
	text-align: center;
	padding-left: 0.75em;
}
