<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Pankajkadam.com</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="site">
     <div class="header">
       <div class="headerphoto">
         <div class="slogan">
          <div class="left_bord"></div>
          <div class="slogan_text">My Name is</div>
          <div class="right_bord"></div>
         </div>
        <h1>pankaj kadam</h1>
        <p>front-end developer</p>
       </div>
       <div class="headerContent">
        <ul>
          <li class="active"><a href="/">About Me</a></li>
          <li><a href="../demo.html">Demo</a></li>
          <li><a href="">Project</a></li>
          <li><a href="../template.html">Template</a></li>
          <li><a href="">Resume</a></li>
        </ul>
       </div>
     </div>
    <div class="container">
      <h2>About Me</h2>
      <div class="content">
         <div class="content_left">
          <h4>Personal Info</h4>
          <h3>Hello ,I'm Pankaj Kadam 23 year-old Frontend Engineer from Dungarpur, Rajasthan,India</h3>
          <p>I enjoy taking problems where I can further my career as a front-end web developer, and utilize technologies such as HTML5, CSS3,JavaScript and jquery.<br>I like playing cricket and others games.</p>
         </div>
         <div class="content_right">
          <h4>Skills</h4>
          <div class="skill_block">
            <p>Html</p>
            <div class="progress progess-striped">
              <div class="html_bar"></div>
            </div>
                        <p>Css</p>
            <div class="progress progess-striped">
              <div class="css_bar"></div>
            </div>
            <p>JavaScript</p>
            <div class="progress progess-striped">
              <div class="javascript_bar"></div>
            </div>
            <p>Jquery</p>
            <div class="progress progess-striped">
              <div class="jquery_bar"></div>
            </div>
          </div>
         </div>
      </div>
    </div>
    <div class="footer">
      <h2>Contact</h2>
      <div class="footer_content">
        <div class="footer_left">
        </div>
        <h3>Pankaj Kadam(Front-end developer)</h3>
        <p>Email - Pkkadam90@gmail.com</p>
        <p>Phone No - +91-960-293-7677</p>
        <div class="social">
          <a  class="soc1 icons" href="https://www.gmail.com"></a>
          <a class="soc2 icons" href="https://www.skype.com"></a>
          <a class="soc3 icons" href="https://www.facebook.com"></a>
          <a class="soc4 icons" href="https://www.twitter.com"></a>
        </div>
      </div>
    </div>
  </div>
    </body>
</html>
