<!doctype.html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="main.css"></head>
  <body>
  <div class="template">
  	 <div class="header">
  	  	<div class="header_top">
  	  		<div class="menu">
  	  			<ul class="nav">
  	  				<li><a href="#"><div class=" inlineBlock setting sprites"></div>settings</a></li>
  	  				<li class="active"><a href="#"><div class="inlineBlock account sprites"></div>Account</a></li>
  	  				<li><a href="#"><div class="inlineBlock message sprites"></div>Messages<span class="messages">5</span></a></li>
  	  				<li><a href="#"><div class="inlineBlock favorites sprites"></div>Favorites</a></li>
  	  				<div class="clear"></div>
  	  			</ul>
  	  		</div>
  	  		<div class="profile_details">
  	  			<div class="loginContainer">
  	  				<a id="loginButton"><span class="login sprites">Me</span></a>
  	  			</div>
  	  			<div class="profile_img sprites">
  	  			</div>
  	  			<div class="clear"></div>
  	  		</div>
  	  		<div class="clear"></div>
  	    </div>
     </div>
    <div class="main">
  	<div class="wrap">
  		<div class="column_left">
  			<div class="menu_box">
  				<h3>MENU BOX</h3>
  				<div class="menu_box_list">
  					<ul>
  						<li><a href="#">
  							  <span class="inlineBlock mes sprites">Messages</span>
  							  <label class="digits">24</label>
  							</a>
  						</li>
  						<li class="active">
  							<a href="#">
  								<span class="inlineBlock invites sprites">Invites</span>
  								<label class="digits active">3</label>
  							</a>
  						</li>
  						<li>
  							<a href="#">
  								<span class="inlineBlock events sprites">Events</span>
  								<label class="digits">5</label>
  							</a>
  						</li>
  						<li>
  							<a href="#">
  								<span class="inlineBlock account sprites">Account Settings</span>
  							</a>
  						</li>
  						<li>
  							<a href="#" class="statistics">
  								<span class="inlineBlock statistics sprites">Statistics</span>
  							</a>
  						</li>
  					</ul>
  				</div>
  			</div>
        <div class="weather">
          <h3><span class="inlineBlock weatherupr sprites"> Udaipur,Rajasthan</span></h3>
          <div class="today_temp">
            <div class="inlineBlock deg">44<em>o</em></div>
            <div class="inlineBlock temp sprites"></div>
          </div>
        </div>
        <div class="contact">
          <h3>Contact</h3>
          <span>
            <strong>Email - </strong>pkkadam90@gmail.com<br>
            <strong>Phone no- </strong>+91-810-796-6765
          </span>
        </div>
  		</div>
      <div class="column_middle">
        <div class="column_middle_grid1">
          <div class="profile_picture">
            <a href=""><div class="profile sprites"></div></a>
            <div class="profile_picture_name">
              <h2>Pankaj Kadam</h2>
            </div>
            <span class="follow sprites"></span>
          </div>
          <div class="articles_list">
            <ul>
              <li><a href="#" class="red"><span class="inlineBlock comments sprites">23</span></a></li>
              <li><a href="#"class="purple"><span class="inlineBlock views sprites">841</span></a></li>
              <li><a href="#" class="yellow"><span class="inlineBlock like sprites">49</span></a></li>
            </ul>
          </div>
        </div>
        <div class="tweets">
          <h3><span class="inlineBlock latest sprites">Latest Tweets</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
        </div>
        <div class="social_networks">
          <ul>
            <li><a href="" class="facebook">
              <div class="inlineBlock sharefb sprites"></div>
              <span class="inlineBlock">Share to Facebook</span>
            </a></li>
            <li><a href="" class="twitter">
              <div class="inlineBlock sharetw sprites"></div>
              <span class="inlineBlock">Share to twitter</span>
            </a></li>
            <li><a href="" class="google">
              <div class="inlineBlock sharegoogle sprites"></div>
              <span class="inlineBlock">Share to google+</span>
            </a></li>
          </ul>
        </div>
      </div>
      <div class="column_right">
        <div class="column_right_grid">
          <div class="newsletter">
            <h3>Join the newsletter</h3>
            <span><div class="mail sprites"></div>
              <input type="text" value="Enter your email">
            </span>
            <input type="submit" class="my_button" value="Subscribe">
          </div>
        </div>
        <div class="column_right_grid sign-in">
          <div class="sign_in">
            <h3>Sign in to your account</h3>
            <span><div class="fbmail sprites"></div><input type="text" placeholder="Enter your email"></span>
            <span><div class="lock sprites"></div><input type="password" placeholder="password"></span>
            <input type="submit" class="my-button" value="Sign In">
            <h4><a href="#">Forget Password</a></h4>
          </div>
          <div class="signin_facebook">
            <a href="#"><div class="inlineBlock signinfb sprites">Sign in with facebook</div></a>
          </div>
        </div>
      </div>

  	</div>
    </div>
  </div>
  </body>
</html>